.config
.config.old
.xcompile
build/
coreboot-builds/
payloads/external/FILO/filo/
payloads/external/SeaBIOS/seabios/

test.bin

payloads/external/depthcharge/.config
payloads/external/depthcharge/.config.old
payloads/external/depthcharge/.xcompile
payloads/external/depthcharge/build

# libpayload directory
payloads/libpayload/build
payloads/libpayload/install
payloads/libpayload/.config.old
payloads/libpayload/.xcompile
payloads/libpayload/lib
payloads/libpayload/libpayload.config
payloads/libpayload/libpayload.xcompile
payloads/libpayload/include/libpayload-config.h

# Pre-built Linaro GCC cross-compile toolchains (downloaded via util/crossgcc/Makefile)
util/crossgcc/xgcc/

*.\#
# *.bin
*.debug
*.elf
*.o
*.out
*.swp

# Development friendly files
tags
.clang_complete

# Cross-compile toolkits
xgcc/
tarballs/

#
# KDE editors create lots of backup files whenever
# a file is edited, so just ignore them
*~
*.kate-swp
# Ignore Kdevelop project file
.kdev4


util/*/.dependencies
util/*/.test
util/cbfstool/cbfstool
util/cbfstool/fmaptool
util/cbfstool/rmodtool
util/cbmem/.dependencies
util/cbmem/cbmem
util/dumpmmcr/dumpmmcr
util/ectool/ectool
util/getpir/getpir
util/ifdtool/ifdtool
util/inteltool/.dependencies
util/inteltool/inteltool
util/k8resdump/k8resdump
util/lbtdump/lbtdump
util/mptable/mptable
util/msrtool/Makefile
util/msrtool/Makefile.deps
util/msrtool/msrtool
util/nrv2b/nrv2b
util/nvramtool/.dependencies
util/nvramtool/nvramtool
util/optionlist/Options.wiki
util/romcc/romcc
util/romcc/tests/fail_test*.S
util/romcc/tests/*.S-O2-mmmx
util/superiotool/superiotool
util/vgabios/testbios

documentation/*.aux
documentation/*.idx
documentation/*.log
documentation/*.toc
documentation/*.out
documentation/*.pdf
documentation/cpukconfig.tex
documentation/mainboardkconfig.tex
documentation/skconfig.tex
documentation/socketfkconfig.tex
